
obj/Debug/net8.0/staticwebassets.pack.json
/obj/Debug/net8.0/staticwebassets
*.dll
*.pdb
*.cache
*.config
*.v2
*.vsidx
*.bin
/Migrations
/Migrations
Migrations/20231012184401_Peliculas.Designer.cs
Migrations/20231012184401_Peliculas.Designer.cs
.vs/VSWorkspaceState.json
*.exe
/obj/Debug/net8.0
/obj
test/
